.getstarted-button{
    background-color: #3F8E00;
    width: 30%;
    margin-top: 5%;
    padding: 10px 10px;
    box-shadow: 5px 6px 8px rgba(63, 142, 0, 0.3);
    border-radius: 2px;
    color: white;

   
}
.getstarted-button:hover{
    cursor: pointer;
}