<div class="content">
    <div class="contact" id="contact">
        <h1>Get In Touch</h1>
        <p>For any work related inquiry send a dm right down below <br>i will get in touch with you.</p>
        <div class="input-bar">
            <label for="">Email</label><br>
            <input type="email" name="" id="" placeholder="Please enter your email"><br>
            <label for="">Mobile</label><br>
            <input type="number" name="" id="" placeholder="Please enter your Mobile"><br>
            <label for="">Message</label><br>
            <textarea name="" id="messagetext" placeholder="Please enter your message" rows="5" cols="50"></textarea><br>
            <button class="submit-button" id="submitbutton" onclick="message()">Submit ></button>
        </div>
    </div>
</div>
