.contact{
    width: 100%;
    background-color: #eef4ee;
    color: #141914;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
}
.contact h1{
    padding-top: 5%;

}
.contact p{
    margin-bottom: 2%;
}
.contact input{
    width: 22rem;
     padding: 2% 0% 2% 0%; 
    margin-bottom: 5%;
    border-radius: 2px;
    position: relative;

}
textarea{
    resize: none;
    border-radius: 5px;
    margin-bottom: 5%;
    border: 1px solid grey;
}
.submit-button{
    background-color: #62BA1B;
    padding: 4% 7% 4% 7%;
    width: 22rem;
    box-shadow: 5px 6px 8px rgba(63, 142, 0, 0.3);
    border-radius: 2px;
    color: #d9d8d8;
}